.globalContainer_login {
  .up_modal {
    background: var(--color-bg);
    border-radius: 20px;
    width: 90%;
    max-width: 390px;
    margin: 16px auto;
    padding: 24px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
  }

  .up_modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .up_modal-header h2 {
    margin: 0;
    color: var(--color-text);
    font-size: 20px;
    font-weight: 600;
  }

  @keyframes fadeInScale {
    from {
      opacity: 0;
      /* transform: scale(0.95);  */
    }

    to {
      opacity: 1;
      /* transform: scale(1); */
    }
  }

  @keyframes fadeOutScale {
    from {
      opacity: 1;
      /* transform: scale(1);  */
    }

    to {
      opacity: 0;
      /* transform: scale(0.95);  */
    }
  }

  .up_modal.fade-in {
    /* animation: fadeInScale 0.5s ease-out forwards; */
  }

  .up_modal.fade-out {
    /* animation: fadeOutScale 0.5s ease-in forwards; */
  }

  .up_close-btn {
    width: 32px;
    height: 32px;
    background: var(--color-light);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .up_subtitle {
    margin-top: 8px;
    color: var(--color-gray);
    font-size: 14px;
  }

  /* ===== Методы входа: сетка 2×2 ===== */
  .up_methods {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin-top: 16px;
    margin-bottom: 15px;
  }

  .up_method-btn {
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 10px;
    width: 100%;
    background: var(--color-light);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    color: var(--color-text);
    transition: background .2s, color .2s;
  }

  .up_method-btn svg {
    color: #77829B;
    fill: #77829B !important;
  }

  .up_method-btn.up_selected svg {
    color: #FFF;
    fill: #fff !important;
  }

  .up_method-btn.up_selected {
    background: var(--color-primary);
    color: #FFF;
    fill: #fff !important;
  }

  /* Заглушка OAuth */
  .up_social p {
    margin: 0;
    color: var(--color-text);
    font-size: 14px;
  }


  /* +91 спан тоже по центру */
  .up_input-group span {
    display: flex;
    align-items: center;
    padding: 0 8px;
    height: var(--input-height);
    color: var(--color-text);
    font-size: 16px;
  }

  /* Глазик для пароля */
  .up_password-group {
    position: relative;
  }

  .up_password-group .eye {
    display: block;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 1000;
  }

  /* Ссылки */
  .up_forgot {
    text-align: center;
    margin-top: 8px;
  }

  .up_forgot span,
  .up_register span {
    color: var(--color-primary);
    text-decoration: none;
    font-size: 14px;
  }

  .up_register {
    text-align: center;
    margin-top: 16px;
    font-size: 14px;
    color: var(--color-gray);
  }

  .up_register a {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-primary);
  }

  .up_input input::placeholder {
    color: var(--color-gray);
    font-style: normal;
    font-weight: 400;
  }

  .up_input-group.error,
  .up_password-group.error {
    border: 1px solid red;
  }


  /* Оверлей вокруг модалки */
  .modal-overlay {
    display: none;
    /* прячем по умолчанию */
    position: fixed;
    inset: 0;
    /* топ/право/низ/лево = 0 */
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    /* центрируем по горизонтали */
    align-items: center;
    /* по вертикали */
    z-index: 1000;
    /* размытие заднего фона */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    @media (max-width: 600px) {
      align-items: flex-start;
    }
  }

  /* Показываем, когда нужно */
  .modal-overlay.open {
    display: flex;
  }

  .up_header {
    position: relative;
    /* Чтобы абсолютная кнопка считала (.header) своим родителем */
    display: flex;
    justify-content: center;
    /* Центрируем всё (в частности .h1) */
    align-items: center;
    width: 100%;
    max-width: 390px;
    margin: 15px auto;
  }

  .up_back_button {
    position: absolute;
    /* Вынесем кнопку из потока */
    left: 0;
    /* Прижмём к левому краю header */
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 0;
    /* При необходимости скорректируйте отступы */
    background: none;
    /* Сброс фона */
    border: none;
    /* Сброс рамки */
  }

  .up_back_button img {
    margin-right: 7px;
  }

  .up_h1 {
    /* теперь flex-контейнер сам по центру, заголовок не надо трогать */
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
  }

  .up_container {
    box-sizing: border-box;
    /* чтобы padding был «внутри» */
    width: 100%;
    max-width: 420px;
    /* никогда не шире 390 px, но и не шире экрана */
    margin: 0 auto;
    /* центрирует на широких экранах */
    padding: 15px;
    background: #FFF;
    border-radius: 20px;
    height: 800px;
    display: flex;
    flex-direction: column;
  }

}