.globalContainer_output {
	p {
		margin: 0;
	}
	/* calc(100dvh - (75px + 16px)) - (16px - padding зверху _ajax_content_; 75px - margin зверху _ajax_content_) */
	.screenWrapper {
		position: relative;
		width: 100%;
		min-height: calc(100dvh - (75px + 16px));
		overflow: hidden;

		@media (min-width: 800px) {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			/* height: 100vh; */
			min-height: auto;
		}
	}

	.pagesContainer {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		@media (min-width: 800px) {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			height: fit-content;
		}
	}

	.up_page {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		min-height: 0;
		display: flex;
		flex-direction: column;
		transition: transform 0.3s ease;
	}

	@media (min-width: 800px) {
		.up_page {
			position: relative !important;
			width: 390px;
			height: 800px;
		}

		.up_page_1 {
			.up_container {
				background-color: #edf0f7;
				border-radius: 20px 0px 0px 20px;
			}
		}
		.up_page_2,
		.up_page_3 {
			.up_container {
				border-radius: 0px 20px 20px 0px;
			}
		}

		.up_page_2 {
			.up_balance-box {
				display: none;
			}
		}

		.up_item_pay {
			background-color: white;
		}
	}

	/* базова позиція для кожної сторінки */
	.up_page[data-page="1"] {
		transform: translateX(0%);
	}
	.up_page[data-page="2"] {
		transform: translateX(100%);
	}
	.up_page[data-page="3"] {
		transform: translateX(200%);
	}

	/* активна сторінка — зсувається на 0 */
	.up_page[data-active="true"] {
		transform: translateX(0%) !important;
	}

	/* сторінки лівіше активної — назад */
	.up_page[data-active="left"] {
		transform: translateX(-100%) !important;
	}

	.up_container {
		position: relative;
		width: 100%;
		max-width: 420px;
		height: 100%;
		margin: 0 auto;
		background: var(--color-bg);
		border-radius: 20px;
		box-sizing: border-box;
		padding: 15px;
		overflow-y: auto;
		overflow-x: hidden;
	}

	/* === Загальні утиліти === */

	.up_header {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
    padding: 15px 0px;
    min-height: 45px;
    
    @media(min-width: 800px) {
      .up_h1 {
        position: absolute;
        right: 0;
        transform: translateX(50%);
      }
    }
	}

	.up_header_secondScreen {
		@media (min-width: 800px) {
			visibility: hidden;
		}
	}

	.up_back_button {
		position: absolute;
		left: 0;
		color: #fff;
		font-family: Inter, sans-serif;
		font-size: 16px;
		font-weight: 400;
		display: flex;
		align-items: center;
		padding: 0;
		background: none;
		border: none;
	}
	.up_back_button img {
		margin-right: 7px;
	}

	.up_select-container {
		position: relative;
		width: 100%;
		max-width: 420px;
		margin: 10px 0px;

		input[type="checkbox"] {
			position: absolute;
			width: 0;
			height: 0;
			opacity: 0;
			visibility: hidden;
		}

		&:has(input[type="checkbox"]:checked) {
			.up_select_options {
				display: flex;
			}
		}
	}

	.up_select {
		position: relative;
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		width: 100%;
		height: var(--input-height);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 14px 18px;
		border-radius: 10px;
		background-color: #edf0f7;
		font-family: Inter, sans-serif;
		font-size: 16px;
		font-weight: 400;
		color: var(--color-gray);
		cursor: pointer;

		.up_select_options {
			position: absolute;
			top: calc(100% + 10px);
			left: 0;
			width: 100%;
			height: fit-content;
			max-height: 300px;
			display: none;
			flex-direction: column;
			background-color: #edf0f7;
			border-radius: 15px;
			overflow-y: auto;
			overflow-x: hidden;
			z-index: 1000;

			.option {
				padding: 10px 20px;

				&:hover {
					background-color: rgb(96, 221, 252);
				}
			}

			.up_selected_option {
				background-color: rgb(96, 221, 252);
			}
		}
	}

	.up_select:focus {
		outline: none;
		box-shadow: none;
	}

	/* Стилізація стрілки */
	.up_select-container::after {
		content: "";
		position: absolute;
		top: 50%;
		right: 18px;
		width: 10px;
		height: 10px;
		pointer-events: none;
		transform: translateY(-70%) rotate(45deg);
		border: solid #77829b;
		border-width: 0 2px 2px 0;
	}

	.up_min-text {
		font-size: 14px;
		font-weight: 400;
		color: #77829b;
	}

	.up_min-title {
		font-size: 14px;
		font-weight: 700;
		color: #77829b;
	}

	.up_flex-column {
		display: flex;
		flex-direction: column;
	}
	.up_flex-row {
		display: flex;
		flex-direction: row;
	}
	.up_center {
		justify-content: center;
		align-items: center;
	}
	.up_text-start {
		text-align: start;
	}
	.up_text-bold {
		font-weight: 700;
	}
	.up_text-muted {
		color: var(--color-gray);
	}
	.up_text-dark {
		color: var(--color-text);
		margin: 0;
	}

	.up_btn-base {
		width: 90px;
		height: 35px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 10px;
		font-family: Inter, sans-serif;
		font-size: 14px;
		font-weight: 600;
		color: #77829b;
		white-space: nowrap;
		border: none;
		cursor: pointer;
		padding: 15px;
		transition: opacity 0.2s;
	}
	.up_btn-primary {
		color: var(--color-primary);
		/* color: #fff; */
	}
	.up_btn-bg-primary {
		background-color: var(--color-primary);
		color: #fff;
	}
	.up_btn-green {
		background-color: var(--color-green);
		color: #fff;
		font-size: 18px;
	}

	/* === Вікно 1 === */
	.up_methodsHeader {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		margin: 15px auto;
		max-width: 390px;
	}

	.up_blance-title {
		font-size: 14px;
		font-weight: 400;
		color: #77829b;
	}

	.up_backBtn {
		position: absolute;
		left: 0;
		background: none;
		border: none;
		display: flex;
		align-items: center;
		font-size: 16px;
		color: #fff;
		cursor: pointer;
	}

	.up_title {
		font-size: 16px;
		font-weight: 700;
		color: #fff;
		text-align: center;
	}

	.up_method-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 7px;
	}

	.up_method-item {
		background: var(--color-light);
		padding: 10px;
		border-radius: 15px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		text-decoration: none;
		color: var(--color-text);
		font-size: 14px;
		font-weight: 700;
	}

	.up_method-item img {
		height: 30px;
		width: auto;
		max-width: 100%;
		margin-bottom: 5px;
	}

	/* === Вікно 2 === */
	.up_withdraw-form {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		font-family: Inter, sans-serif;
	}

	.up_method-section {
		max-height: 55px;
		background: #edf0f7;
		border-radius: 10px;
		padding: 13px 17px;
		display: flex;
		align-items: center;
		gap: 16px;
	}

	.up_method-icon {
		width: 73px;
		height: 29px;
	}

	.up_method-details {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	/* === Вікно 3/4 (попередження + інструкції) === */
	.up_alert {
		background: #fff;
		border-radius: 20px;
		box-shadow: 0px 4px 4px rgba(255, 91, 91, 0.25);
		border: 2px solid #ff7272;
		padding: 14px 19px;
		display: flex;
		flex-direction: column;
		gap: 4px;
	}

	.up_warning-title {
		font-size: 24px;
		font-weight: 700;
		color: #000;
		display: flex;
		gap: 10px;
		align-items: center;
	}

	.up_warning-indicator {
		min-width: 4px;
		height: 50px;
		background: #ff7373;
	}

	.up_success-indicator {
		min-width: 4px;
		height: 42px;
		background: #19ab59;
	}

	.up_info-paragraph {
		font-size: 14px;
		font-weight: 400;
		color: #77829b;
		margin: 10px 0;
	}

	.up_info-section-title {
		font-size: 16px;
		font-weight: 700;
		color: #77829b;
		margin: 23px 0 10px;
	}

	.up_pay-btn {
		margin-top: 20px;
		width: 100%;
		height: 50px;
		max-width: 420px;
		align-self: center;
		white-space: nowrap;
	}

	.up_method-button {
		width: 144px;
		height: 83px;
		border-radius: 10px;
		padding: 10px 14px;
		background: #edf0f7;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 5px;
		cursor: pointer;
		border: none;
	}

	.up_method-button img,
	.up_method-button svg {
		height: 32px;
		width: 32px;
	}

	.up_method-button span {
		font-size: 16px;
		font-weight: 500;
		color: #090f1e;
	}

	.up_green-text {
		color: #19ab59;
	}
	.up_red-text {
		color: #ff7373;
	}
	.up_info-box {
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(243, 246, 251, 1);
		border-radius: 10px;
		text-align: left;
		margin-top: 20px;
		font-size: 14px;
		color: #77829b;
		font-weight: 500;
	}

	.up_info {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		border-radius: 10px;
		text-align: left;
		margin-top: 20px;
		font-size: 14px;
		color: #77829b;
		font-weight: 500;
	}

	.up_list {
		padding-left: 20px;
		margin-top: 10px;
	}

	.up_list li {
		margin-bottom: 5px;
	}

	.up_input-group,
	.up_password-group {
		height: var(--input-height);
		display: flex;
		align-items: center;
		background: var(--color-light);
		border-radius: 10px;
		margin-bottom: 16px;

		.up_icon-wrapper {
			width: var(--input-height);
			height: var(--input-height);
			display: flex;
			align-items: center;
			justify-content: center;
			background: rgba(119, 130, 155, 0.05);
			flex-shrink: 0;
		}

		.up_input-bold {
			color: #77829b;
			font-family: Inter;
			font-size: 16px;
			font-weight: 700;
		}
	}
}
